PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/donation
JWT_SECRET=super_secret_key_change_in_production
ADMIN_SECRET_KEY=BloodDonationAdmin2026!
ADMIN_EMAIL=admin@blooddonation.com
ADMIN_PASSWORD=Admin@2026!
ADMIN_NAME=System Administrator
